
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<script>
    function Fun1() {
        alert("Hello");
    }
</script>
<body>
    <form method="post" action="MySubmit">
        Patient Name<input type="text" name="name" value="" /><br />
        Patient Address<input type="text" name="address" value="" />
       
        <input type="submit" name="name" value="Add" />
        <input type="button" name="name" value="Click" onclick="Fun1()" />
    </form>
</body>
</html>
