@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ClientSide/PatientModel.js"></script>
<script>
    //controller code
    var patient = new Patient();
    function UpdatePatient() {
        this.patient.name = $("#txtname").val();
        this.patient.address = $("#txtaddress").val();
    }
    function AddProblems() {
        var problem = new Problem();
        problem.name = $("#txtproblem").val();
        this.patient.Problems.push(problem);
        $("#txtproblem").val("");

    }
    function Submit() {
        var check = this.patient;
        $.post("/Home/Submit", this.patient, function (res) {
            this.patient = new Patient();
            $("#txtname").val("");
            $("#txtaddress").val("");
        });

    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
Add Patient
<br />
    Enter Name:
<input type="text" onchange="UpdatePatient()" id="txtname" name="name" />
    Enter Phone:
<input type="text" name="Phone" />
    Enter Address:
<input type="text" onchange="UpdatePatient()" id="txtaddress" name="address" />
<br />
Add Problem
<br />
    Enter Name:
<input type="text" id="txtproblem" name="name" />
    Enter Description:
<input type="text" name="Description" />
<input type="button" onclick="AddProblems()" value="Add Problem" />
<br />
Add Treatment
<br />
    Enter Name:
<input type="text" name="Name" />
    Enter Dosage:
<input type="text" name="Dosage" />
<input type="submit" value="Add Treatment" />
<br />
<input type="submit" value="Add Next Problem" />
<br />
<input type="submit" value="Add Next Patient" />
<br />
<input type="button" onclick="Submit()" value="Add Final" />
<br />
<input type="submit" value="Add To Database" />
<br />
<label for="example">Patient Name: </label>
<input id="example" type="text" name="text">
<input type="submit" value="Search DB" />
<br />

<table border="1" width="100%">
    <tr>
        <td width="10%">Name</td>
        <td width="10%">Phone</td>
        <td width="10%">Address</td>
        <td width="70%">
            <table width="100%">
                <tr>
                    <td width="50%">Problem</td>
                    <td width="50%">Treatment</td>
                </tr>
                <tr>
                    <td width="25%">Name</td>
                    <td width="25%">Description</td>
                    <td width="25%">Name</td>
                    <td width="25%">Dosage</td>
                </tr>
            </table>
        </td>
    </tr>
</table>