@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ClientSide/PatientModel.js"></script>

<script>
    //controller code
    var patient = new Patient();
    var problemobj = new Problem();
    
    function UpdatePatient() {
        this.patient.name = $("#txtname").val();
        this.patient.address = $("#txtaddress").val();
        this.patient.Phone = $("#txtphone").val();

    }
    function AddProblems() {

        problemobj.name = $("#txtproblem").val();
        this.patient.Problems.push(problemobj);
        $("#txtproblem").val("");
    }
    function AddTreatment() {
        problemobj.treatment = $("#txttreatmentname").val();
    }
    function Submit() {
        var check = this.patient;
        $.ajax({
            url: "/api/PatientAPI/",
            type: "POST",
            data: JSON.stringify(check),
            contentType: "application/json ; charset=utf-8",
            dataType: "json",
            success: function (res) {
                cpatient = new Patient();
                
                var jsondata = JSON.parse(JSON.stringify(res));
                console.log(JSON.stringify(res));
                var length = jsondata.length;
                var rowdata = '<table border="1">';
                for (var i = 0; i < length; i++) {
                    var htmldata = '<tr>';
                    htmldata += '<td>' + jsondata[i].name + '</td>';
                    htmldata += '<td>' + jsondata[i].phone + '</td>';
                    htmldata += '<td>' + jsondata[i].address + '</td>';
                    var problemdata = '<table border="1">';
                    for (var j = 0; j < jsondata[i].problems.length; j++) {
                        problemdata += '<tr><td>' + jsondata[i].problems[j].name + '</td>';
                        problemdata += '<td>' + jsondata[i].problems[j].description + '</td>';  
                    }
                    problemdata += '</table>';
                    htmldata += '<td>' + problemdata + '</td></tr>';
                    rowdata += htmldata;
                }
                rowdata += '</table>';
                $("#showTable").html(rowdata);
            }
        }
        )
    }

</script>
<script>
    $(document).ready( function () {
        $.ajax({
            url: "api/PatientAPI/",
            type: "GET",
            contentType: "application/json ; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $.each(response, function (key, value) {
                    alert(key + ": " + $.each(value, function (v) {
                        v[0]; v[1]; v[2]; v[3];
                    }))
                });
                
            }
        })
    });

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
    Add Patient
<br />
    Enter Name:
<input type="text" onchange="UpdatePatient()" id="txtname" name="name" />
    Enter Phone:
<input type="text" onchange="UpdatePatient()" id="txtphone" name="Phone" />
    Enter Address:
<input type="text" onchange="UpdatePatient()" id="txtaddress" name="address" />
<br />
    Add Problem
<br />
    Enter Name:
<input type="text" id="txtproblem" name="name" />
<input type="button" onclick="AddProblems()" value="Add Problem" />
<br />
    Add Treatment
<br />
    Enter Name:
<input type="text" id="txttreatmentname" name="Name" />
    Enter Dosage:
<input type="text" name="Dosage" />
<input type="submit" value="Add Treatment" />
<br />
<input type="submit" value="Add Next Problem" />
<br />
<input type="submit" value="Add Next Patient" />
<br />
<input type="button" onclick="Submit()" value="SUBMIT" />
<br />
<input type="submit" value="Add To Database" />
<br />
<label for="example">Patient Name: </label>
<input id="example" type="text" name="text">
<input type="submit" value="Search DB" />
<br />
<table id="showTable" class="table table-bordered table-striped">
</table>
